# Kontaktni obrazec (Resend). Dobi ključ na https://resend.com
RESEND_API_KEY=re_xxxxxxxxxxxxxxxx
# Prejemnik sporočil iz obrazca (privzeto e-pošta iz siteConfig)
CONTACT_TO=domen.arnus07@gmail.com
# Opcijsko: lasten pošiljatelj (rabi potrjeno domeno v Resend)
# CONTACT_FROM=Portfolio <kontakt@tvoja-domena.si>
